:root {
  --yellow: #fdb827;
  --blue: #21209c;
  --white: #f1f1f1;
  --black: #23120b;
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}
.Header {
  margin: 0;
  background-color: var(--yellow);
  color: var(--black);
  font-size: 2.25rem;
  padding-left: 1em;
}
.prompt {
  color: var(--blue);
  padding: 0;
  margin: 1em 0;
  font-size: 1.5em;
}
#analyser-input {
  width: 75%;
  border: var(--yellow) 1em solid;
  padding: 1em;
  background-color: var(--blue);
  color: var(--yellow);
  font-size: 1em;
}
.wrapper {
  text-align: center;
}
#result {
  background-color: var(--blue);
  color: var(--yellow);
  font-size: 1.125em;
  width: fit-content;
  padding: 1em;
  margin: 2em auto;
  border: var(--black) 5px solid;
}
.graph-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
button {
  padding: 0.5em;
  border: 0;
  margin: 1em auto;
  font-size: 1em;
  background-color: var(--yellow);
  color: var(--blue);
}
button:hover {
  background-color: var(--blue);
  color: var(--yellow);
}
/* textarea scrollbar styling*/
textarea::-webkit-scrollbar {
  width: 0.5em;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 var(--yellow);
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border: var(--blue) 2px solid;
  outline: 1px solid var(--blue);
}
#result hr {
  border: 0;
  border-top: var(--yellow) 3px solid;
}
#view-buttons {
  display: none;
}
#result {
  display: none;
}
